@model BDAT1007AsgOneWebApp.Models.TicketOptions

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>TicketOptions</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Category)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Category)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TeamName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TeamName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.League)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.League)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Esource)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Esource)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Seatgeek)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Seatgeek)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ticketmaster)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ticketmaster)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Stubhub)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Stubhub)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
